@model Proyecto2_MVC_AaronVillalobosArguedas.Models.Pedido

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.CodigoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDePedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDePedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPorUnidadDeMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPorUnidadDeMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaQueEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaQueEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaQueRecibe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaQueRecibe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaQueRecibe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaQueRecibe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entregado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
