@model Proyecto2_MVC_AaronVillalobosArguedas.Models.Producto

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadDeMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadDeMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadMaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadActual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodigoProducto">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
